/* 2501992343 - Vincent
  2501996764 - Steven Andrian Pradita */

* {
  box-sizing: border-box;                                                                 
  margin: 0;
  padding: 0;
  font-family:'Montserrat', sans-serif;
}
body {
  font-size: 14px;
  background-color: rgb(255, 179, 179);
}
nav{
  display:flex;
  justify-content: space-around;
  align-items:center;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  background: linear-gradient(rgba(248, 0, 145,1),rgba(203, 5, 198,1));
  z-index: 1;
}
.logo{
  margin-right: 500px;
  margin-left:0px;
}
.navbar{
  display:flex;
  justify-content: space-between;
  width: 40%;
}
.navbar a{
  text-decoration: none;
  font-weight : 600;
  font-size : 28px;
  color : rgb(73, 71, 70);
  transition: 0.5s ease;
  transition-duration: 0.5s;
  
}
.navbar a:hover{
  background-color: rgb(255, 179, 179);
  padding:5px;
  border-radius: 15px;
}
.navbar li{
  list-style : none;
}

/* css for home*/

.promotion-home{
  background-image: url(../images/promotion-banner.jpeg);
  background-size: cover;
  position: relative;
  height: 100vh;
}
.promotion-textHome{
  position: absolute;
  top: 25%;
  left: 75%;
  font-size: 50px;
  color: rgb(130, 8, 150);

}
.button-promotion{
  position: absolute;
  top: 50%;
  left: 75%;
  background-color: rgb(255, 179, 179);
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22.5px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:15px;
}

.box{
  display:flex;
  justify-content: center;
}

.best_seller{
  text-align: center;
  margin-top:10px;
  margin-bottom:10px;
  font-size: 36px;
  color: rgb(130, 8, 150);
}
.producthome1{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.latest_product{
  text-align: center;
  margin-top:10px;
  margin-bottom:10px;
  font-size: 36px;
  color: rgb(130, 8, 150);
}
.producthome2{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.card{
  justify-content: center;
  background: linear-gradient(rgba(248, 0, 145,1),rgba(203, 5, 198,1));
  width:500px;
  height:480px;
  margin-top: 70px;
  margin: 50px;
  border-radius: 15px;
  position: relative;
}
.card-overlay{
  position: absolute;
  opacity: 0;
  transition: 1.5s ease;
  background-color: rgb(214, 59, 162);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
}
.card:hover .card-overlay{
  opacity: 0.9;
}
.card-image{
  background-color: rgba(1,1,1);
  height:290px;
  width:400px;
  margin-left: 50px;
  border-radius: 15px;
}
.product-home-1{
  background-image:url('../images/pexels-photo-5798000.webp');
  background-size:cover;
}
.product-home-2{
  background-image:url('../images/pexels-photo-4465121.jpeg');
  background-size:cover;
}

.button-buynow{
  justify-content:center;
  background-color: rgb(254, 41, 180);
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  width:40px;
  font-size: 22.5px;
  cursor: pointer;
  border-radius:15px;

}

.home-text{
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
  color: white;
}

/*
 css for about
*/
.big-square {
  justify-content: center;
  background-color: rgb(130, 8, 150);
  width:450px;
  height: 120px;
  margin-top: 120px;
  border-radius:70px;
}
.about-us{
  text-align: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}
.small-square {
  justify-content: center;
  background-color: rgb(130, 8, 150);
  width:350px;
  height: 90px;
  border-radius:70px;
  margin:200px;
  margin-bottom: 0px;
  margin-top: 20px;
}
.smalltext{
  text-align: center;
  
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-top: 15px;
}
.medium-square {
  justify-content: right;
  
  background: linear-gradient(rgba(248, 0, 145,1),rgba(203, 5, 198,1));
  width:650px;
  height:200px;
  border-radius:70px;
  margin:50px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.mediumtext{
  text-align: center;
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin: 20px;
  margin-top: 25px;
}


/*
 css for promotions
*/



.big-card{
  justify-content: center;
  background: linear-gradient(rgba(248, 0, 145,1),rgba(203, 5, 198,1));
  width:700px;
  height:420px;
  margin-top: 150px;
  margin-bottom:-100px;
  border-radius: 15px;
}
.big-card-image{
  background-color: rgba(1,1,1);
  height:300px;
  width:700px;
  margin-top:0px;
  margin-bottom:-0px;
  border-radius: 15px;
}
.discount-1{
  background-image:url('../images/GOPAY-PROMO-BLOG-THUMBNAIL-HEADER.jpg');
  background-size:cover;
}
.discount-2{
  background-image:url('../images/promotion-banner.jpeg');
  background-size:cover;
}
.discount-3{
  background-image:url('../images/tote-bag.jpg');
  background-size:cover;
}
.text-discount1{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.text-discount2{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding-left: 10px;
}
.text-discount3{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}


/*
 css for products
*/

.skin-care{
  text-align: top left;
  font-size: 60px;
  color: rgb(255, 255, 255);
  margin-top: 130px;
  margin-right: 1150px;
}
.body-care
{
  text-align: top left;
  font-size: 60px;
  color: rgb(255, 255, 255);
  margin-top: 0px;
  margin-right: 1100px;
}
.product-card{
  justify-content: center;
  background: linear-gradient(rgba(248, 0, 145,1),rgba(203, 5, 198,1));
  width:300px;
  height:350px;
  margin-top: 70px;
  margin: 50px;
  border-radius: 15px;
  position:relative;
}
.dummy-product-card{
  justify-content: center;
  
  width:300px;
  height:350px;
  margin-top: 70px;
  margin: 50px;
  border-radius: 15px;
}


.product-card-image{
  background-color: rgba(1,1,1);
  height:250px;
  width:300px;
  border-radius: 15px;

}
.product-name{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(255, 255, 255);

}

.product-card-overlay{
  position:absolute;
  background: linear-gradient(rgba(248, 0, 145,1),rgba(203, 5, 198,1));
  width:300px;
  height:350px;
  opacity:0%;
  margin: 0px;
  border-radius: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1.5s ease ;
}
.product-card:hover .product-card-overlay{
  opacity: 0.9;
  
}
.product-text{
  text-align: center;
  font-size: 27px;
  padding-top: 30px;
  color: white;
}

.product-1
{
  background-image:url('../images/istockphoto-1198863709-612x612.jpg');
  background-size:cover;
}
.product-2
{
  background-image:url('../images/anti-aging.webp');
  background-size:cover;
}
.product-3
{
  background-image:url('../images/pexels-photo-4465121.jpeg');
  background-size:cover;
}
.product-4
{
  background-image:url('../images/face-mask.jpg');
  background-size:cover;
}
.product-5
{
  background-image:url('../images/pexels-photo-5798000.webp');
  background-size:cover;
}
.product-6
{
  background-image:url('../images/istockphoto-1190665208-612x612.jpg');
  background-size:cover;
}
.product-7
{
  background-image:url('../images/hand-cream.jpg');
  background-size:cover;
}

/* css for subscribe*/
.form-bg{
  background-image:url('../images/form-image.webp');
  background-size: cover;
  width: 100%;
  height: 100%;
}
fieldset{
  justify-content:center;
  width: 1000px;
  height: 500px;
  margin:100px;
  margin-left:250px;
  padding:2em 1em;
  background: linear-gradient(rgba(248, 0, 145,1),rgba(203, 5, 198,1));
  opacity: 90%;
  border-radius: 30px;
  border:none;

}
label{
  font-size:30px;
  margin-top:20px;
  opacity:100%;
  margin-left:0px;
}

label:first-of-type
{
  margin-right: 30px;
}
input{
  height:30px;
  width:30px;
  border:solid 2px black;
  padding:1em;
  opacity:100%;
  margin-bottom: 20px;
}
input[type="text"],input[type="password"]{
  width:400px;
  height:30px;
  border:solid 2px black;
  padding:1em;
  opacity:rgb(245, 160, 160);
  font-size: 20px;
}
input[type="checkbox"]
{
  margin-left:30px;
}
button[type="submit"]
{
  margin-left:800px;
  width:150px;
  font-size: 30px;
}
span{
  color: rgb(255,255,255);
  font-size: 20px;
  padding-left: 20px;
}

.footer {
  position: relative;
  justify-content: space-evenly;
  display: flex;
  margin-top:100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(rgba(248, 0, 145,1),rgba(203, 5, 198,1));
  padding: 50px;
}
.social img{
  width: 50px;
}


@media (max-width: 800px){
  /* product */
  .logo{
    margin-right: 100px;
    
  }
  .navbar{
    padding-right:60%;
  }
  .navbar a{
    font-size: 20px;
    padding: 10px;
  }
  .best_seller{
    font-size: 12px;
  }
  .producthome1{
    margin-top:5px;
    font-size:30px;
  }
  .latest_product{
    font-size: 12px;
  }
  .producthome2{
    margin-top:5px;
    font-size: 30px;
  }
  .promotion-textHome{
    left: 60%;
  }
  .button-promotion{
    left: 60%;
  }
  .card{
    width: 300px;
    height: 260px;
  }
  .card-image{
    width: 200px;
    height: 160px;
  }
  .home-text{
    font-size: 20px;
  }
  /* about */
  .small-square{
    border-radius: 50px;
    margin: 80px;
  }
  .smalltext{
    font-size:20px;
  }
  .mediumtext{
    margin-top:10px;
  }
  /* product */
  .skin-care{
    margin-right: 400px;
  }
  .body-care{
    margin-right: 400px;
  }
  .product-card{
    width: 180px;
    height: 210px;
    border-radius: 10px;
    margin-top: 50px;
    margin: 30px;
  }
  .product-card-image{
    width: 180px;
    height: 150px;
    border-radius: 10px;
  }
  .product-name{
    font-size: 20px;
  }
  .dummy-product-card{
    width: 180px;
    height: 210px;
    border-radius: 10px;
    margin-top: 50px;
    margin: 30px;
  }
  .product-card-overlay{
    width: 180px;
    height: 210px;
    border-radius: 10px;
  }
  .product-text{
    font-size: 15px;
  }
  
  /* subscribe */

  fieldset{
    margin: 50px;
    width: 500px;
    height: 400px;
    margin-left:50px;
    
  }
  label{
    font-size: 20px;
  }
  input[type="text"],input[type="password"]{
    width: 300px;
    height: 30px;
    padding: 0;
    
  }
  button[type="submit"]
  {
    margin-left:500px;
    font-size: 25px;


  }
}